<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/explore.css">
</head>
<body>
 

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MovieDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/profile">Profile</a>
            </li>
            <li class="nav-item active">
            <a  class="nav-link"  href="/explore">Explore</a>
            </li>
            <li class="nav-item">
           
            </li>
           
          </ul>
          <ul class="navbar-nav  justify-content-end">
             
   <li class="nav-item active" >
       <a class="nav-link" href="/logout">Logout</a>
    </li>
  

          </ul>
         
        </div>
      </nav>
<div>
   

</div>

<div id="user" class="container">


    <div id="userlist" class="mlist">
        <% ousers.forEach(function(user){ %>
          <p>Username: <%= user.username %></p>
          <% if(user.privacy=="public"){ %>
          <button name="<%= user.username %>" class="btn btn-light" onclick="actfn(this)" >View Activity</button>
          <% } %>
         <% if(user.privacy=="private"){ %>
           <p>Private Account 😐</p>
         <% } %>

        <% }) %>
     </div>



<div id="userdetails">


</div>


<div id="userfav">
    



</div>

<div id="watched">

</div>

<div id="towatch">


</div>

</div>
<div id="view">


</div>
<div id="youtube">
 

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/explore.js"></script>
</body>
</html>