<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MovieDb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/profile">Profile</a>
            </li>
            <li class="nav-item active">
            <a  class="nav-link"  href="/explore">Explore</a>
            </li>
    
           
          </ul>
          <ul class="navbar-nav  justify-content-end">
                <li class="nav-item">
                        <span class="navbar-text" style="padding-right: 20px;">
                                Logged in as <%= user.username %>
                              </span>
                </li>
   <li class="nav-item active" >
       <a class="nav-link" href="/logout">Logout</a>
    </li>
  

          </ul>
         
        </div>
      </nav>
 

<section id="sec1 " class="container-fluid" >
  <div id="searchdiv">
<input type="search" name="search" id="search" class="form-control mr-sm-2"  placeholder="Movie title or Id" onkeyup="searchfn()"  >
<select id="select" class="custom-select">
<option value="s">Title</option>
<option value="i">Id</option>
</select>
<div>
<button name="searchbtn" class="btn btn-outline-success my-2"  id="searchbtn"  onclick="searchfn()">Search</button>
</div>
</div>

    <h2 id="searchmsg" >Search Results..</h2>
<div id="searchresults" class="card-columns"></div>


    
        <div class="card-columns" id="movies">
        </div>


<div id="view">

    
</div>
<div id="google">

    <button class="btn btn-success" id="authorize-button">Sign in with Google</button>
    <button class="btn btn-danger" id="signout-button">logout from Google </button>
</div>
<div id="youtube"></div>    

<div id="comments">


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/userhome.js"></script>
<script async defer src="https://apis.google.com/js/api.js" 
        onload="this.onload=function(){};handleClientLoad()" 
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
</script>
</section>



</body>
</html>
