<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <style>

        body{
            background-image: url("/images/loginbg.jpg");
            background-size: cover;
        }
    #regpage{

        
      text-align: center;
        margin-top: 10%;
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px;
        
    }
  
    button{
        padding: 10px;
        margin: 10px;
    }
    input{
        padding: 10px;
        margin-left: 10px;
        margin: 10px;
        
            
        
    }
    h1{
        letter-spacing: 2px;
        padding: 20px;
    }
    #m{
        
        max-width: 500px;
        margin-left: 25%;
    }
   
    </style>
</head>

<body>
    <div id="regpage" class="container">
    <h1 style="font-family: 'Luckiest Guy', cursive;">Register  page</h1>
   
    <div  id="m">
    <form action="/register" method="POST">
    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    <input type="password" class="form-control" name="password" placeholder="password">
    <input type="submit" class="btn btn-success" value="Register">
</form>
    <h5>Already an User?</h5>
    <form action="/login" method="GET">
    <button class="btn btn-info">Login</button>
    </form>
    
    
    
</div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>